<div class="scrollable">  
  <div class="scrollable-content">

    <div class="list-group">
      <div class="list-group-item">
        <h1>
        <small>Porfolio</small>
        </h1>
      </div>
      <div class="list-group-item media">
        <div class="pull-right">
		 <img style="width:52px;height:52px" src="resources/img/bb.png"></img>
		 </i>
        </div>
       
        <div class="media-body">
           
            <a href="quoterush/breaking_bad/"><h3 class="media-heading">Breaking Bad</h3>
			The breaking bad application by QuoteRush
			</a>
        </div>
        </div>
        <div class="media-body">
           <div class="pull-right">
		 <img style="width:52px;height:52px" src="resources/img/arrow.png"></img>
		 </i>
        </div>
        </div>
        
        <div class="media-body">
       
            <a href="quoterush/arrow/"><h3 class="media-heading">Arrow</h3>
			Currently in development
			</a>
        </div>
      </div>


      <div class="list-group-item media">
        <div class="pull-right">
          <img style="width:80px;height:52px" src="resources/img/nb.jpg"></img>
        </div>
        <div class="media-body">
            <a href ="http://dutnoticeboard.co.za/">
			<h3 class="media-heading">Noticeboard</h3>
            Developers: Hayden Sookchand and Farhaad Bux<br>
			Artist: Monique
			</a>
			</div>
      </div>


      <div class="list-group-item media">
        <div class="pull-right">
           <img style="width:52px;height:52px" src="resources/img/play.jpg"></img>
        </div>
        <div class="media-body">
			<a href="https://play.google.com/store/search?q=Hayden%20Sookchand&hl=en">           
		   <h3 class="media-heading">Google Play</h3>
		   More projects can be downloaded here
           </a>
        </div>
      </div>

      <div class="list-group-item media">
        <div class="pull-right">
         <img style="width:52px;height:52px" src="resources/img/github.png"></img>
        </div>
        <div class="media-body">
            <a href="https://github.com/HaydenSookchand">
			<h3 class="media-heading">Github</h3>
			Check out my code
            </a>
        </div>
      </div>

    </div>

  </div>
</div>
