<div class="scrollable">  
  <div class="scrollable-content">

    <div class="list-group">
      <div class="list-group-item">
        <h1>
        <small>Project Home Page</small>
        </h1>
      </div>
      <div class="list-group-item media">
        <div class="pull-right">
          <i class="fa fa-gamepad feature-icon text-primary"></i>
        </div>
        <div class="media-body">
           
            <a href="breaking_bad/"><h3 class="media-heading">Breaking Bad</h3>
			The breaking bad application by QuoteRush - currently in development
			</a>
        </div>
      </div>


      <div class="list-group-item media">
        <div class="pull-right">
          <i class="fa fa-tachometer feature-icon  text-primary"></i>
        </div>
        <div class="media-body">
            <a href ="http://dutnoticeboard.co.za/">
			<h3 class="media-heading">Noticeboard</h3>
            Developers: Hayden Sookchand and Farhaad Bux<br>
			Artist: Monique
			</a>
			</div>
      </div>


      <div class="list-group-item media">
        <div class="pull-right">
          <i class="fa fa-expand feature-icon  text-primary"></i>
        </div>
        <div class="media-body">
			<a href="https://play.google.com/store/search?q=Hayden%20Sookchand&hl=en">           
		   <h3 class="media-heading">Apps on Google Play</h3>
		   More projects can be downloaded here
           </a>
        </div>
      </div>

      <div class="list-group-item media">
        <div class="pull-right">
          <i class="fa fa-stethoscope feature-icon  text-primary"></i>
        </div>
        <div class="media-body">
            <a href="https://github.com/HaydenSookchand">
			<h3 class="media-heading">Github</h3>
            </a>
        </div>
      </div>

    </div>

  </div>
</div>
