<h1 class="app-name">Menu</h1>

<div class="scrollable sidebar-scrollable">
  <div class="scrollable-content">
    <div class="list-group" toggle="off" bubble target="mainSidebar">
      <a class="list-group-item" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="https://www.facebook.com/hayden.sookchand">Facebook<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="http://za.linkedin.com/pub/hayden-sookchand/67/548/575">Linked In<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="https://twitter.com/HaydenSookchand">Twitter<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="https://plus.google.com/102911070363578149727/posts">Google+<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="http:www.dutnoticeboard.co.za">Noticeboard<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="https://play.google.com/store/search?q=Hayden%20Sookchand&hl=en">My Apps<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="https://github.com/HaydenSookchand">Github<i class="fa fa-chevron-right pull-right"></i></a>
    </div>
    
     <div style="color:white" ng-model="notices" class="quote">
      <img src="https://www.google.co.za/search?q=image+hayden+sookchand&espv=2&biw=1920&bih=955&tbm=isch&tbo=u&source=univ&sa=X&ei=ZgRJVMKCCoOR7Aad0IGACA&ved=0CBsQsAQ#facrc=_&imgdii=_&imgrc=9xfc3-Ja-5ozCM%253A%3Bb2gUb8KSGzCjpM%3Bhttps%253A%252F%252Fpbs.twimg.com%252Fprofile_images%252F3688912245%252Fbf1bcc85d0c87b1f0b5a73db5b68736f.jpeg%3Bhttps%253A%252F%252Ftwitter.com%252FHaydenSookchand%3B256%3B256" />
     
      </div>


  </div>
</div>
