<div class="scrollable"> 
  <div class="scrollable-content">
    <div class="section container-fluid">
    	<h3>About Breaking Bad Quotes</h3> 

		<p>With sixteen Primetime Emmys and 108 other awards, Breaking Bad is a show known for it's outstanding  writing and directing. This show has produced some of the best delivered and memorable quotes of the decade. Now follow Walter White's journey again with our app that's every bit as addictive as the famous blue meth. </p>

		<p>Unforgettable quotes and high quality images will take you back to the first time you watched this pop culture phenomenon, which saw 10 million people tuning in for the finale. So grab a bag (or three) of funyuns and get cooking with our app!</p>

		<br>

		<div class="divider">
			<span><img src="resources/img/quote.png"></span>
		</div>
				
		<h3>Disclaimer</h3>
		<p>This is an unofficial application for the fans of Breaking Bad.</p>
		<p>We have no official affiliation to Breaking Bad.</p>
		<p>All trademark and copyright concerning Breaking Bad are the property of their respective owners.</p>
		<p>We make no claim to and do not have any rights to any of the foregoing.</p>
		<p>Images in this application are used only to convey what the application is about.</p>
		<p>Add disclaimers here</p>
		<p>Do our Survey</p>
    </div>
  </div>
</div>