<h1 class="app-name">QuoteRush</h1>

<div class="scrollable sidebar-scrollable">
  <div class="scrollable-content">
    <div class="list-group" toggle="off" bubble target="mainSidebar">
      <a class="list-group-item" href="#/">Home</a>
      <a class="list-group-item" href="#/about">About</a>
    </div>

      <div style="color:white" ng-model="notices" class="quote">
      <img src="{{dlink}}" />
      <center><a style="color:white" href="{{notice}}">Coming Soon</a></center>
      </div>

  </div>
</div>
