
<div class="scrollable">
  <div class="scrollable-content">
	  <div class="home-background">

      <br><br>
		  <div class="quote-container">
 		<button id="add" class="add" ng-click="addTofavorites();"><img src="resources/img/star.png" style="width:10px;height:10px;"></button>		
			<div class="quote-content">

		       <div ng-model="output" ng-swipe-left='showNext();' ng-swipe-right='showPrev();' class="quote">{{outputQuote}} - <b>{{outputName}}</b></div>


		    </div>
		        <button ng-click="showPrev()" class="btn-previous"></button>
			<button ng-click="showNext()" class="btn-next"></button>
 
		</div>

	  </div>
 
  </div>
</div>
