<div class="scrollable"> 
  <div class="scrollable-content">
    <div class="section container-fluid">
    	<h3>About Arrow Quotes</h3> 

		<p>Since its launch in late 2012, Arrow has become one of the most popular hero series on air. Based on DC’s Green Arrow, this series follows Oliver Queen as he becomes the Arrow and fights evil in Starling City. </p>

		<p>Arrow’s strong actors, gripping story and awesome superhero moves have made it popular all over the world. With its first season already averaging millions of views per episode, it has already created it’s own spinoff and won multiple awards.</p>

		<p>Through our app, you will relive the experience through the words of Arrow, Felicity Smoak, Black Canary, Deathstroke, John Diggle, and even The Flash</p>

		<br>

		<div class="divider">
			<span><img src="resources/img/quote.png"></span>
		</div>
				
		<h3>Disclaimer</h3>
		<p>This is an unofficial application for the fans of Arrow.</p>
		<p>We have no official affiliation to Arrow.</p>
		<p>All trademark and copyright concerning Arrow are the property of their respective owners.</p>
		<p>We make no claim to and do not have any rights to any of the foregoing.</p>
		<p>Images in this application are used only to convey what the application is about.</p>
    </div>
  </div>
</div>